header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #94ba9f;
    color: white;
  }
  .nav button, .nav input {
    margin: 5px;
    padding: 8px;
    background-color: #FCF6F5;
    color: black;
    border: none;
  }

 button > :Link {
    text-decoration: dotted;
  }
  